<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="password-field(field)" th:remove="tag">

    <div class="row mb-3">

        <label th:for="${field.name}" th:text="${field.label}"
               class="col-sm-2 col-form-label"
               th:classappend="${field.required} ? 'required' : ''"></label>

        <div class="col-sm-10">

            <input type="password"
                   th:id="${field.name}"
                   th:name="${field.name}"
                   th:placeholder="${field.placeholder}"
                   th:required="${field.required}"
                   th:value="*{__${field.name}__}"
                   class="form-control"
                   th:classappend="${field.cssClass}"
                   th:minlength="${field.minLength > 0} ? ${field.minLength} : null"
                   th:maxlength="${field.maxLength < 2147483647} ? ${field.maxLength} : null"/>
            <small th:if="${field.helpText}" th:text="${field.helpText}" class="help-text"></small>
        </div>
    </div>
</div>

