<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="text-field(field)" th:remove="tag">

    <div class="row mb-3">

        <label th:for="${field.name}" th:text="${field.label}"
               class="col-sm-2 col-form-label"
               th:classappend="${field.required} ? 'required' : ''"></label>

        <div class="col-sm-10">
            <input type="text"
                   th:id="${field.name}"
                   th:name="${field.name}"
                   th:value="*{__${field.name}__}"
                   class="form-control"
                   th:classappend="${field.cssClass}"
                   th:pattern="${field.pattern}"
                   th:required="${field.required}"
                   th:readonly="${field.readOnly}"
                   th:minlength="${field.minLength}"
                   th:maxlength="${field.maxLength}"
                   th:placeholder="${field.placeholder}"
                   th:title="${field.title}"
            />

            <small th:if="${field.helpText}" th:text="${field.helpText}" class="help-text"></small>
        </div>
    </div>
</div>