<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="radio-field(field)" th:remove="tag">

    <div class="row mb-3">

        <legend th:text="${field.label}"
                th:classappend="${field.required} ? 'required' : ''"
                class="col-form-label col-sm-2 pt-0"></legend>

        <div class="col-sm-10">
            <div th:each="option : ${field.options}" class="form-check form-check-inline">
                <input type="radio"
                       th:id="${field.name + '_' + option.value}"
                       th:name="${field.name}"
                       th:value="${option.value}"
                       th:checked="${option.selected}"
                       th:disabled="${option.disabled}"
                       th:required="${field.required}"
                       th:field="*{__${field.name}__}"
                       class="form-check-input"/>

                <label th:for="${field.name + '_' + option.value}"
                       th:text="${option.label}"
                       th:classappend="${option.disabled} ? 'disabled' : ''"
                       class="form-check-label"></label>
            </div>
        </div>

        <!-- Message d'aide -->
        <small th:if="${field.helpText}"
               th:text="${field.helpText}"
               class="help-text radio-help"></small>

        <!-- Message d'erreur (si validation côté client) -->
        <div th:if="${field.errorMessage}"
             th:text="${field.errorMessage}"
             class="error-message radio-error"
             style="display: none;"></div>
    </div>
</div>
</html>